<!DOCTYPE html><html><head><meta
    charset="utf-8"><meta
    name="viewport" content="width=device-width, initial-scale=1"><title>Better Motherfucking Website</title><style type="text/css">body{margin:40px
    auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0
    10px}h1,h2,h3{line-height:1.2}</style></head><body>
        
        <header><h1><em>Cornell</em> Cloud Lecture Download</h1>
            <p>This is a very simple proof-of-concept UI that allows 
                you to download documents from the Google cloud (as long as you
                are on the Cornell network). I made this for the Cornell Hackathon
                and used Python, Google Cloud, and Flask in order to accomplish it.
            </p>

            <p>This part of the web page allows you to download a file locally.
                Go to /upload to upload a file to the cloud!
            </p>

            <form method="POST">
                <input name="bucket" placeholder="Bucket name" />
                <input name="filename" placeholder ="File name" />
                <input name="path" placeholder = "Path to download"/>
            
                <input type="submit" />
            </form>
            
   </body></html>