<!DOCTYPE html><html><head><meta
    charset="utf-8"><meta
    name="viewport" content="width=device-width, initial-scale=1"><title>Better Motherfucking Website</title><style type="text/css">body{margin:40px
    auto;max-width:650px;line-height:1.6;font-size:18px;color:#444;padding:0
    10px}h1,h2,h3{line-height:1.2}</style></head><body>
        
        <header><h1><em>Cornell</em> Lecture Upload</h1>
            <p>Please go ahead and upload secure files to the cloud to be shared with students.
                This is a proof-of-concept, but is supposed to be used by professors
            </p>

            <form method="POST">
                <input name="bucket" placeholder="Bucket name" />
                <input name="folder" placeholder="Folder name (if applicable)" />
                <input name="filename" placeholder ="File name" />
                <input name="path" placeholder = "Path to file (include file)"/>
            
                <input type="submit" />
            </form>
            
   </body></html>